body{
	color: black;
	font-size: 22px;
	text-align: center;
	background-color: antiquewhite;
}

header {
	background-color: burlywood;
	padding: 35px;
	display: block; 
	text-align: center;
	font-size: 25px;
}

.logo {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 10px;
	left: 40px;
}

nav li {
	display: inline;
	margin: 50px;
	text-decoration: none;
}  

.prev, .next {
	cursor: pointer;
	padding: 5px;
	margin: 10px;
	transition: 0.6s ease;
	color:blue;
}
  
.prev:hover, .next:hover {
	background-color: burlywood;
}

h1 {
	text-align: center;
	padding: 30px;
}

.menu-block {
	text-align: center;
	border: 2px solid purple;
	padding: 5px;
	border-radius: 5px;
}
  
.options {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	background-color: burlywood;
	color: white;
	padding: 3px;
	margin-top: 30px;
	display: block; 
	text-align: center;
	font-size: 19px;
}

